<form
        novalidate="novalidate"
        method="post"
        {% if task %}
        hx-post="{% url 'transaction_support:task_update' task.id %}{% querystring %}"
        hx-target="#update-modal-container"
        {% else %}
            {% if workflow %}
            hx-post="{% url 'transaction_support:task_create' workflow.pk %}{% querystring %}"
            {% else %}
            hx-post="{% url 'transaction_support:task_create_for_transaction' transaction.pk %}{% querystring %}"
            {% endif %}
        hx-target="#task-new-modal-container"
        {% endif %}
        class="">
    {% csrf_token %}
    <div class="p-2 md:p-3 space-y-4 max-h-[60vh] overflow-y-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% include 'components/non-field-errors.html' %}
            <!-- Task Title -->
            {% include 'components/field.html' with field=form.title field_widget_class="col-span-2" %}

            {% include 'components/field.html' with field=form.transaction %}
            <!-- Task Type -->
            {% include 'components/field.html' with field=form.task_type %}

            {% include 'components/field.html' with field=form.status %}

            <!-- Priority -->
            {% include 'components/field.html' with field=form.priority %}

            <!-- Description -->
            {% include 'components/field.html' with field=form.description field_widget_class="col-span-2" %}

            {% include 'components/field.html' with field=form.start_date %}
            {% include 'components/field.html' with field=form.due_date %}

            {% include 'components/field.html' with field=form.assigned_to %}
            {% include 'components/field.html' with field=form.estimated_hours %}

        </div>
    </div>
    <div class="flex justify-end space-x-3 pt-3 py-2 px-3 border-t border-gray-200">
        <div>
            {% if not task %}
            {% include 'components/submit-button.html' with button_text="Create Task" loading_text="Creating...." %}
            {% else %}
            {% include 'components/submit-button.html' with button_text="Update Task" loading_text="Updating...." %}
            {% endif %}
        </div>
    </div>
</form>