<form
        novalidate="novalidate"
        method="post"
        enctype="multipart/form-data"
        {% if expense %}
        hx-post="{% url 'finance_management:expense_update' expense.id %}{% querystring %}"
        hx-target="#updateExpenseModalContent"
        {% else %}
        hx-post="{% url 'finance_management:expense_create' %}{% querystring %}"
        hx-target="#new-expense-modal-container"
        {% endif %}
        class="">
    {% csrf_token %}
    <div class="p-2 md:p-3 space-y-4 max-h-[60vh] overflow-y-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {% include 'components/non-field-errors.html' %}
            
            <!-- Expense Title -->
            {% include 'components/field.html' with field=form.title field_widget_class="col-span-2" %}

            {% include 'components/field.html' with field=form.amount %}
            <!-- Category -->
            {% include 'components/field.html' with field=form.category %}

            {% include 'components/field.html' with field=form.expense_date %}
            <!-- Receipt -->
            {% include 'components/field.html' with field=form.receipt %}

            <!-- Description -->
            {% include 'components/field.html' with field=form.description field_widget_class="col-span-2" %}

        </div>
    </div>
    <div class="flex justify-end space-x-3 pt-3 py-2 px-3 border-t border-gray-200">
        <div>
            {% if not expense %}
            {% include 'components/submit-button.html' with button_text="Create Expense" loading_text="Creating...." %}
            {% else %}
            {% include 'components/submit-button.html' with button_text="Update Expense" loading_text="Updating...." %}
            {% endif %}
        </div>
    </div>
</form>